# MLOps Pipeline
__pycache__/
*.pyc
*.pyo
*.pyd
*.python-version
venv/
.env/
.venv/
data/raw/
data/processed/
data/interim/
data/external/
.ipynb_checkpoints
.DS_Store
Thumbs.db
logs/
*.logs
*.pkl
!*.pkl.dvc

